# Game specific ignores
matches/
*.json
*.log

# Python standard ignores
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Mac specific
.DS_Store

# IDE specific
.vscode/
.idea/

# zip files
*.zip